<div class=post-content>
  <p>title: <%= @post.title %></p>
  <p>content: <%= @post.content %></p>
  categories:<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
</div>
